<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>{{ville}}</mat-panel-title>
    <mat-panel-description>{{pays}}</mat-panel-description>
  </mat-expansion-panel-header>
  <div class="ordered">
    <div class="button-accodion-expan">
      <mat-action-row>
        <button mat-raised-button (click)="voirMeteo()">Voir la Meteo</button>
      </mat-action-row>
    </div>
    <div class="button-accodion-expan">
      <mat-action-row>
        <button mat-raised-button (click)="supprimerLieu()">Supprimer Lieu</button>
      </mat-action-row>
    </div>
  </div>
</mat-expansion-panel>
