.my-form{
    min-width: 150px;
    max-width: 500px;
  }
   
  .full-width {
    width: 80%;
  }

  .example-margin{
      margin-left: 5%;
      margin-right: 5%;
  }
  .my-card{  
    width:50%;
    border-radius: 5%;
    margin-top: 10%;
    top: 50%;
    left:25%;
    margin-bottom: 10%;
    position: relative;
  }
  .card-title{
    margin-left: 25%; 
    color:indigo;
    width:50%;
    text-align: center;
  }
  mat-form-field{
      margin-top: 2%;
      font-size: medium;
      margin-right: 5%;
      margin-left: 5%;
      left:5%;
      padding:2%;
      width:90%;
  }
  #label{
    margin-left:5%;
    margin-right: 2%;
  }
  