
.my-form{
    min-width: 150px;
    max-width: 500px;
  }

  .full-width {
    width: 80%;
  }

  .example-margin{
      margin-left: 5%;
      margin-right: 5%;
  }
  .my-card{
    border-radius: 5%;
    margin-top: 10%;
    top: 50%;
    left:30%;
    width:40%;
    margin-bottom: 10%;
    position: relative;
    max-width:500px
  }
  .card-title{
    margin-left: 25%;
    color:indigo;
    width:50%;
    text-align: center;
  }
  mat-form-field{
      margin-top: 2%;
      font-size: large;
      margin-right: 5%;
      margin-left: 5%;
      left:5%;
      padding:2%;
      width:90%;
  }
  #label{
    margin-left:5%;
    margin-right: 2%;
  }

  #toHome{
    margin-left:5%;
    margin-right:5%;
    width:40%;
    color:indigo;
    min-width:150px;
    margin-top:1%
  }
  #newAccount{
    margin-left:5%;
    margin-right:5%;
    width:40%;
    color:indigo;
    min-width:150px;
    margin-top:1%
  }
  #connect{
    margin-left: 30%;
    width:40%;
    text-align:center;
    min-width:130px
  }
