<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <div class="ordered" style="align-items: flex-start;">
      <form id="villeBar">
        <mat-form-field appearance="outline" class="input">
          <mat-label>{{ville}}</mat-label>
          <input matInput type="search" [matAutocomplete]="village" [formControl]="villeControl"
                 placeholder="Entrez une ville ..." required >
          <mat-autocomplete id="ville" autoActiveFirstOption #village="matAutocomplete" [displayWith]="displayFonction">
            <mat-option *ngFor="let village of villeFiltree | async"
                      [value]="village.name"  >{{village.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
          <mat-label>{{region}}</mat-label>
          <input matInput type="search" [formControl]="regionControl" [matAutocomplete]="regionComplete"
                 placeholder="Entrez une Region ...">
          <mat-autocomplete #regionComplete="matAutocomplete"  autoActiveFirstOption>
            <mat-option *ngFor="let regions of regionFiltree | async " [value]="regions" >{{regions}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input">
          <mat-label>{{pays}}</mat-label>
          <input matInput type="search" value="Cameroun" disabled>
        </mat-form-field>
        <div>
          <mat-card-actions>
            <button mat-raised-button class="btn1" (click)="opened=!opened; onValider()">Valider</button>
          </mat-card-actions>
          <mat-card-actions>
            <button mat-raised-button class="btn1" (click)="refresh(); opened=!opened; ">Fermer</button>
          </mat-card-actions>
        </div>
      </form>
      <div class="map-container">
        <div class="map-frame">
          <div id="carteBar"></div>
        </div>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="ordered">
      <div id="meteoAffiche">
        <div id="principalMeteo">
          <h1>{{Meteo.Lieu}}, {{pays}} </h1>
          <div class="ordered">
            <img class="pluvio" src="https://openweathermap.org/img/wn/{{Meteo.icon}}@2x.png"/>
            <div id="data">
              <h1>Température: {{Meteo.temperature}}{{mesure}}</h1>
              <h2>{{Meteo.description}}</h2>
              <h2>humidité: {{Meteo.humidite}} %</h2>
            </div>
          </div>
        </div>
        <div id="detailMeteo">
          <mat-tab-group mat-align-tabs="center">
            <mat-tab>
              <ng-template mat-tab-label>
                Horaire
              </ng-template>
              <mat-card-title-group>
                <mat-card-title>aujourd'hui</mat-card-title>
                <mat-card>
                  <div class="ordered" id="prevBar">
                    <mat-card-content *ngFor="let i of nbre" class="meteoPrev">
                      <mat-label class="meteoPrev">{{hour}}:00</mat-label>
                      <br>
                      <mat-label>{{temperature}}{{mesure}}</mat-label>
                      <br>
                      <mat-label>{{humidite}}%</mat-label>
                    </mat-card-content>
                  </div>
                </mat-card>
              </mat-card-title-group>


            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                Hebdomadaire
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div id="toolbar">
        <div>
          <mat-card-actions>
            <button mat-raised-button (click)="opened=!opened" class="btn1">choisir une ville</button>
          </mat-card-actions>
        </div>

        <mat-accordion class="accordeon"  >
          <!-- <app-lieu (changeMeteo)="setMeteo($event)" (refresh)="refresh()" *ngFor="let lieu of listeLieu" [pays]="lieu.pays" [region]="lieu.region" class="appLieu"
                     [position]="lieu.coords" [ville]="lieu.ville"></app-lieu>-->
          <cdk-virtual-scroll-viewport itemSize="50" style="height: 500px">
            <mat-expansion-panel *cdkVirtualFor="let lieu of listeLieu">
              <mat-expansion-panel-header>
                <mat-panel-title style="margin-right: 10px">{{lieu.ville}}</mat-panel-title>
                <mat-panel-description>{{lieu.pays}}</mat-panel-description>
              </mat-expansion-panel-header>
              <div class="ordered">
                <div class="button-accodion-expan">
                  <mat-action-row>
                    <button mat-raised-button (click)="ville = lieu.ville ; pays=lieu.pays; voirMeteo(); ">Voir la Meteo</button>
                  </mat-action-row>
                </div>
                <div class="button-accodion-expan">
                  <mat-action-row>
                    <button mat-raised-button (click)="ville = lieu.ville; supprimerLieu()">Supprimer Lieu</button>
                  </mat-action-row>
                </div>
              </div>
            </mat-expansion-panel>

          </cdk-virtual-scroll-viewport>
        </mat-accordion>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
