
mat-tab-group{
    margin-top: 5%;
}
.input{
  align-content: center;
  align-items: center;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}

.meteoPrev{
  min-width: 100px;
  background-image: initial;
  background-size: cover;

}
mat-card-title-group{
  background-image: initial;
  background-size: cover;
}

#prevBar{
  margin-left: 40px;
}

.ordered{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

mat-sidenav-container{
  background-image: url('../../assets/background.jpg');
  background-size: cover;
}

#villeBar{
  flex:2;
  align-items: stretch;
  justify-self: baseline;
  align-content: stretch;
  margin-top: 0;
  padding: 50px;
}
.map-container {
  flex: 7;
  margin: 10px;
  border-style: ridge;
  height:600px;
  margin-bottom:5%;
  margin-top:2%;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}
#carteBar{
  height: 100%;
}
#meteoAffiche{
  flex: 9;
  max-height: 500px;
  height: available;
}
#detailMeteo{
  position: relative;
  align-self: flex-end;
  flex: 1;
  align-self: end;
}

#principalMeteo{
  flex: 8;
  position: relative;
  margin-left: 20%;
  margin-top: 7%;
  height: 60%;
}

#toolbar{
  flex: 3;
  min-height: 600px;
  height:100%;
  align-items: center;
}

#toolbar.div.mat-card-actions{
  align-items: center;
  align-content: center;
}

.appLieu{
  margin-bottom: 5px;
}



mat-expansion-panel, mat-accordion{
  width: 100%;
}

div.mat-form-field.input{
  width: 90%;
}
.pluvio{
    width:160px;
    height: 160px;
    background-size: cover;
}
#data{
  margin: 10px;
}

mat-form-field{
    width:90%;
    margin: 5%;
    margin-top:1%;
    align-self: stretch;

}
.container{
    display: flex;
    flex-direction: row;
}
mat-sidenav{
    width:95%;
}
h1,h2{
    width: 100%;
    text-align: center;
}
mat-label{
    text-align: center;
}
div.location{

}

button{

}

.btn1{
  height: 50px;
  min-width: 200px;
  border-radius: 20px;
}

.accordeon .mat-expansion-panel-header-title,
.accordeon .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordeon .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

