/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    opacity: 2;
}

#back {
  background: url(assets/cascade.jpg) no-repeat center fixed ;
  background-size: cover;

}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
