<mat-card-title>
  <h1 style="text-align:center;margin-top:10%;">Consultez l'état de la météo en toute sérénité</h1>
</mat-card-title>
<mat-card-actions>
  <a mat-raised-button routerLink="/login" style="text-align:center;margin-top:10%; margin-left: 40%;width:20%;text-align:center;min-width:125px" color="primary">Connectez-vous !</a>
  <p width=100% style="margin-top:5%;text-align:center">Ou</p>
  <a mat-raised-button routerLink="/register" style="text-align:center;margin-top:2%; margin-bottom: 5% ;margin-left: 40%;width:20%;min-width:125px;text-align:center" color="primary">Inscrivez-vous !</a>
  <p width=100% style="margin-top:5%;text-align:center">Ou</p>
  <a mat-raised-button routerLink="/weather" style="text-align:center;margin-top:2%; margin-bottom: 5% ;margin-left: 40%;width:20%;min-width:125px;text-align:center" color="primary">Accedez a la meteo !</a>

</mat-card-actions>
