.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 80%;
  }

  .example-margin{
      margin-left: 5%;
      margin-right: 5%;
  }
  .my-card{
    width:40%;
    border-radius: 5%;
    margin-top: 2%;
    top: 50%;
    left:30%;
    max-width:500px;
    margin-bottom: 1%;
    position: relative;
  }
  .card-title{
    margin-left: 25%;
    width: 50%; 
    color:indigo;
    text-align: center;
  }
  mat-form-field{
      margin-top: 1%;
      font-size: medium;
      margin-right: 5%;
      margin-left: 5%;
      padding:2%;
      width:90%;
  }
  #label{
    margin-left:5%;
    margin-right: 2%;
  }
  img {
    float: right;
    margin: 0 0 10px 10px;
  }
  