<mat-card class="my-card">
    <mat-card-title class="card-title">Inscription</mat-card-title>
    <mat-card-content>
        <form class="my-form" [formGroup]="registerForm" >
            <mat-form-field class="full-width">
                <mat-label>Nom </mat-label>
                <input  matInput formControlName="name"  placeholder=" Entrez votre Nom Complet ..."  name="nom"  required/>
            </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label> Prénom </mat-label>
            <input  matInput formControlName="prenom"  placeholder=" Entrez votre Nom Complet ..."  name="nom"  />
          </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label> Email </mat-label>
                <input  matInput formControlName="email"  placeholder="Entrez votre Email ..." name="email" required/>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Mot de passe</mat-label>
                <input  matInput formControlName="motDePasse"  type="password" placeholder="Entrez votre Mot de passe ..."  name="password" required/>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Confirmer votre mot de passe</mat-label>
                <input  matInput formControlName="passConfirm" type="password" placeholder="Retaper votre Mot de passe ..."  name="password" required/>
            </mat-form-field>
            <section class="example-section">
                <label class="example-margin">Sexe :</label>
                <mat-radio-group formControlName="sexe" >
                  <mat-radio-button class="example-margin" value="Homme"> Homme </mat-radio-button>
                  <mat-radio-button class="example-margin" value="Femme">Femme</mat-radio-button>

                </mat-radio-group>
            </section>

            <mat-form-field>
                <mat-label> Date De Naissance</mat-label>
                <input matInput formControlName="dateNaissance" [matDatepicker]="picker" placeholder="Choisir une Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-label id="label">Photo De Profil: </mat-label>
            <input formControlName="photoProfil" (click)="getPhoto()" type="file"  id="avatar">
            <p>
                <img id="image" width="140" height="140">
            </p>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="register()" style="margin-left: 30%;width:40%;text-align:center" color="primary">S' inscrire</button>
    </mat-card-actions>
 </mat-card>
